body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.cabecalho
{
    background-image: linear-gradient(to right, #6fcaf5, #06d6a0);
    margin-top: 0;
    width: 100%;
    height: 90PX;
    /* position: absolute; */
}

ul
{
 float:right;
 /* margin-right: 2%; */
}

 li
{
   margin-top: -17.5%;
   list-style: none;
   display: inline-block;
   transition: .5s;
}

 a
{
   position:relative;
   /* margin-top: -5%; */
   text-decoration: none;
   padding: 90px 25px 11px 25px;
   display: block;
   font-size: 18px;
   color:#fff;
   font-family: 'Abel', sans-serif;
   font-family: 'Questrial', sans-serif;
}

ul li:hover
{
   background: #00C5CD;
}

img
{
    float: right;
    margin-top: -35%;
    position:absolute;
    margin-left: -47%;
    width:  40px;
    height: 40px;

}
/* .download
{
 position:absolute;
  margin-top: -50%;
} */
.logo
{
    position: absolute;
    margin-top: 0.4%;
    margin-left: 2%;
    width: 200px;
    height: 80px;
}
.toggle
{
  border-bottom: 3px solid #fff;
  margin-top: -.1%;
  width: 100%;
  padding: 30px 20px;
  background-image: linear-gradient(to right,#6fcaf5, #06d6a0);
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
  z-index: 3;
}
.fundo
{
  position: absolute;
  border-top: 3px solid black;
  background-image: url(fundo.png);
  width: 100%;
  height: 340px;
  opacity: 1;
}

.container
{
  width: 320px;
  height: 320px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: transparent;
  border: 10px solid transparent;
  padding: 10px;
  box-sizing: border-box;
  transition: .5s;
  box-shadow: none;
}
.shape
{
  background: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: rotate(45deg) scale(1.2);
  border: 10px solid #3bf9e0;
  border-radius: 50%;
  transition: .5s;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
}
.shape p
{
  margin: 0%;
  padding: 17px;
  text-align: center;
  box-sizing: border-box;
  transform: rotate(-45deg) translate(-46px, 54px);
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  font-family: 'Questrial', sans-serif;
}
.container:before
{
  content: '';
  position: absolute;
  width: 24px;
  height: 90%;
  background:#3bf9e0;
  left: 50px;
  top: 5%;
  transition: .5s;
  opacity: 0;
  animation-delay: .3s;
}
.container:after
{
  content: '';
  position: absolute;
  width: 24px;
  height: 90%;
  background: #3bf9e0;
  right:  50px;
  top: 5%;
  transition: .5s;
  opacity: 0;
  animation-delay: .3s;
  z-index: -1;
}
.container:hover:before
{
  left: -35px;
  opacity: .8;
}

.container:hover:after
{
  right: -35px;
  opacity: .8;
}
.container:hover .shape
{
  border-radius: 0;
}
.container:hover
{
  background: #fff;
  border: 10px solid #3bf9e0;
}


.testimonials
{
  margin: 470px auto 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 20px;
}

.testimonials .card
{
	position: relative;
	width: 300px;
  height: 350px;
  margin-top: 10%;
  margin-left: 13%;
	background:#048a81;
	padding: 10px 10px 20px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 10px 40px rgba(0,0,0.5);
	overflow: hidden;
}
.testimonials .card .layer
{
	position: absolute;
	top: calc(100% - 4px);
	left: 0;
	width: 100%;
	height: 100%;
	background:#06d6a0;
	z-index: 0;
	transition: 0.4s;
}
.testimonials .card:hover .layer
{
	top:0;
}

.testimonials .card .content
{
	z-index: 0;
	position: absolute;
}
.testimonials .card .content p
{
  padding: 25px 20px;
  text-align: center;
	font-size:18px;
	line-height: 20px;
	color:#fff;
}
.testimonials .card .content h2
{
  padding: 25px 15px;
	font-size: 25px;
	color:#fff;
}
.rodape
{
  width: 100%;
  height: 20px;
	background:linear-gradient(#048a81,#2a4494);
  margin-top: 10%;
}

@media  (max-width:768px)
{
  .toggle
  {
    height: 90px;
    display: block;

  }
   ul
   {
     margin-top: 0;
     /* margin-right: -5%; */
     background-image: linear-gradient(to right, #6fcaf5, #06d6a0);
     height: 120px;
     width: 100%;
     display: none;
     text-align: center;
   }
    li
   {
     margin-top: -0.2%;
     margin-left: -10%;
     border-bottom: 1px solid #fff;
     display: block;
     text-align: center;

   }
   a
   {
     padding: 30px 25px 11px 25px;
   }

   img
   {
     margin-top: -2.5%;
     position: absolute;
     margin-left: 3%;
     width: 40px;
     height: 40px;
   }

   .logo
   {
      width: 0px;
      height: 0px;
   }
   .fundo
   {
       margin-top: -.5%;
       width: 100%;
       height: 300px;
       z-index: -1;
    }
     .container
     {
       width: 250px;
       height: 250px;
       top: 57%;
       z-index: -1;
     }
     .container:hover
     {
       background: #fff;
       border: 10px solid #3bf9e0;
       z-index: -1;
     }
     .shape p
     {
       transform: rotate(-45deg) translate(-20px, 20px);
       font-size: 15px;
     }
     .testimonials
     {
       position: absolute;
     }
      .rodape
      {
         margin-top: 300%;
      }
   .active
   {
     display: block;
   }
}
